name: Release

on:
  workflow_dispatch:
    inputs:
      skip-version-bump:
        type: boolean
        default: false
      bump_override:
        description: "Override version bump"
        required: false
        type: choice
        options:
          - ""
          - major
          - minor
          - patch

permissions:
  contents: write
  id-token: write

jobs:
  ensure_master:
    name: Ensure Release is from Master
    runs-on: ubuntu-latest
    steps:
      - name: Fail if not on master
        run: |
          run: |
            if [[ "${{ github.ref }}" != "refs/heads/master" ]]; then
              echo "âŒ Releases must be run from the master branch!"
              exit 1
            fi
  bump:
    name: Bump Version
    needs: ensure_master
    uses: ./.github/workflows/bump_release.yml
    secrets: inherit
    with:
      skip-version-bump: ${{ inputs.skip-version-bump }}
      bump_override: ${{ inputs.bump_override }}

  checkout_tag:
    name: Checkout bumped tag
    runs-on: ubuntu-latest
    needs: bump
    steps:
      - name: Checkout the bumped tag
        uses: actions/checkout@v4
        with:
          ref: ${{ needs.bump.outputs.tag }}  # Use correct output key from bump-release workflow
          fetch-depth: 0
      
  output_tag:
    name: Output current tag
    needs: checkout_tag
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Fetch tags
        run: git fetch --tags

      - name: Output current tag
        run: |
          TAG=$(git describe --tags --exact-match 2>/dev/null || echo "No tag checked out")
          echo "Current tag: $TAG"
